{% extends "layout.html" %}
{% block content %}
    <div class="card-body p-5 bg-white rounded">
        <div class="table-responsive overflow-visible">
            <p>Hallo {{ user }}</p>
            <form class="form" method="POST" action="/">
                {{ form.csrf_token }}
                <p>
                    {{ form.schuld.label }}
                    {{ form.schuld }}
                </p>
                <p>
                    <input type="submit" class="btn btn-primary">
                </p>
            </form>
        </div>
    </div>
{% endblock content %}